body{
    background-color: aqua;
}
main{
    font-size: 1em;
    width: 1000px;
    text-align: center;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px auto;
    background-color: aliceblue;

}
.container{
    display: flex;
    border: 2px solid black;

}
.container-nav{
    display: flex;
     border: 2px solid black;
}
.master{
    border: 1px solid;
    padding: 5px;
    width: 25%;
    flex-grow: 1;
    border: 2px solid black;
}
.master1{
    width: 40%;
    border: 2px solid black;
}

.text{
    line-height: 1.5;
    font-size: 10px;
    width: 330PX;
}
.title{
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
}

.row{
    display: flex;
    align-items: stretch;
}

.navigation{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width:70%;
    flex: 1;
    padding-left: 25px;
    font-size: 30px;
    color: #cccccc;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
    .nav-item:nth-child(1){
    background-color: rgb(96, 148, 216);
}
.nav-item:nth-child(2){
    background-color:rgb(127, 102, 238);
}
.nav-item:nth-child(3){
    background-color:rgb(196, 88, 138);
}
.nav-item:nth-child(4){
    background-color: rgb(83, 202, 176);
}
.nav-item:nth-child(5){
    background-color:rgb(65,114,206);
}
.nav-item:nth-child(6){
    background-color: rgb(177, 127, 224);
}

.image{
    width: 70%;
}
